@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
box-sizing: border-box;
font-family: 'roboto', sans-serif;
margin: 0px;

}
 body{
    justify-content: center;
}

.dri-calculator {
  max-width: 700px;
  margin: 10px auto;
  padding: 25px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: #32a852; */
  justify-content: center;
 
  
}

.dri-calculator h1 {
  text-align: center;
  font-size: 1.6rem ;
  margin-bottom: 10px;
  color: #333; 
}

/* Form Styles */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

input:hover {
box-shadow: 2px 2px 5px rgba(224, 210, 210, 0.94);
}
select:hover{
  box-shadow: 2px 2px 5px rgba(224, 210, 210, 0.94);
}

.calculate-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.calculate-button:hover {
  background-color: #0056b3;
}
.calculate-button:focus{
  outline: none;
  box-shadow: 2px 2px 5px rgba(224, 210, 210, 0.94);
}
.calculate-button:active{
  box-shadow: none;
}

/* Result Styles */
.result {
  margin-top: 20px;
  padding: 15px;
  background-color: #e7f5ff;
  border: 1px solid #b3d8ff;
  border-radius: 5px;
  color: #3178c6;
  font-size: 1.2rem;
  text-align: center;
}
